@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;
}

#cookieConsent {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px;
    display: none;
    /* Inicialmente oculto */
}

.cookie-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.cookie-message p {
    margin: 0;
}

.cookie-message button {
    background-color: #2abcad;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
}

.cookie-message button:hover {
    background-color: #275d51;
}


header img {
    width: 175px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 5%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 6px 8px -2px rgba(0, 0, 0, 0.48);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.show-menu {
    position: fixed;
    top: 0;
    left: -110%;
    z-index: 1002;

    display: flex;
    overflow: hidden;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 220px 0;

    width: 100vw;
    height: 100vh;
    background: #131212;
    opacity: .9;
    transition: .6s ease-in-out;
}

.show-menu .icon-top {
    width: 100%;
    display: flex;
    justify-content: end;

    padding: 40px 100px;
    margin-top: 60px;
}

.show-menu .icon-top div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.show-menu .icon-top div:hover {
    border: 2px solid #d6d5d5;
}

.show-menu ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.show-menu ul li a {
    color: #fff;
    font-size: 26px;
    font-weight: 500;

}

.show-menu ul li:hover {
    color: #dfdbdb;
    transition: .3s ease-in-out all;
    transform: scale(1.1);
    text-decoration: underline;
    text-underline-offset: 10px;
}



.ContainerHeader {
    background: url(imagens/43ae9040-e621-4b27-a778-6bf654f2b5fc.JPG) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 1000px;
    position: relative;
}

button {
    border: none;
    background: transparent;
}


.idiomasicon {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.idiomasicon img {
    width: 22px;
    border: solid white 2px;
    border-radius: 50%;
    box-shadow: #26a3aa;
    transition: transform 0.3s ease;

}

.idiomasicon img:hover {

    transform: scale(1.2);

}



nav img {
    width: 27px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    margin: 10px;
}

nav img:hover {
    transform: scale(1.1);
}

nav a {
    text-decoration: none;
}

.bienvenido {
    display: flex;
    text-align: left;
    align-content: space-between;
    margin-top: 60px;
    padding: 0 20px;
}

.bienvenido video {
    margin-left: 20px;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 2px;
    text-align: center;
    width: 600px;
}

@media (max-width: 767px) {
    .bienvenido video {
        display: none;
    }
}

.bienvenidohijo p {
    color: #878484;
    padding-bottom: 8px;
    font-size: 17px;
    padding-left: 20px;
}

.bienvenidohijo h3 {
    width: 100%;
    color: #26a3aa;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 20px;
}

.localizacao {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #ececec;
    color: rgb(120, 125, 125);
}

.ubicacion-container {
    text-align: left;
    margin-left: 90px;
}

.ubicacion-container p {
    font-size: 18px;
    padding-bottom: 6px;
    text-align: center;
}

.locale1 {
    text-align: center;
}

.locale1 p {
    color: #69706f;
    text-align: center;
    padding-right: 20px;
    font-size: 14px;
}

.locale1 a {
    text-align: center;
    align-items: center;
    text-decoration: none;
}

.locale1 img {
    width: 100%;
    max-width: 340px;
    border-radius: 0px;
    transition: transform 0.3s ease;
    padding-right: 20px;
}

.locale1 img:hover {
    transform: scale(1.1);
}

.reserva {
    margin: 3px 0 10px 0;
    background: url(imagens/vistaaomar.JPG) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 700px;
    /* Ajustar altura para telas grandes */
    position: relative;
}

.texto-informe {
    background-color: #293333;
    padding-bottom: 120px;
    opacity: 70%;
}

.texto-informe h3 {
    padding: 20px 0px 10px 8px;
    font-size: 18px;
    color: #31d3db;
}

.texto-informe p {
    padding: 10px 0px 10px 8px;
    color: white;
    font-size: 16px;
}

.buttons-reserva {
    text-align: center;
    margin-top: 20px;

}

.buttons-reserva .carta1 {
    margin-right: 20px;
    background-color: #de5451;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    padding: 14px 50px;
    border-radius: 6px;
    transition: background-color 0.3s, transform 0.3s;
}

.buttons-reserva .carta1:hover {
    background-color: #000000;
    transform: scale(1.2);
}

.buttons-reserva .reserva2 {
    margin-right: 20px;
    background-color: #31d3db;
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding: 14px 50px;
    border-radius: 6px;
    transition: background-color 0.3s, transform 0.3s;
}

.buttons-reserva .reserva2:hover {
    background-color: #105c5c;
    transform: scale(1.1);
}

.buttons-reserva .reserva2:last-child {
    margin-right: 0;
}

.sk-ww-google-reviews {
    margin-top: 10px;
}

.footer {
    background-color: rgba(230, 230, 230, 0.8);
    color: #000000;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-info,
.footer-hours,
.footer-links,
.footer-social {
    flex: 1;
    margin: 10px;
}

.footer-info h4,
.footer-hours h4,
.footer-links h4,
.footer-social h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.footer-info p {
    margin: 5px 0;
}

.footer-hours ul,
.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-hours ul li,
.footer-links ul li {
    margin: 5px 0;
}

.footer-links ul li a {
    color: #000000;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-social a {
    display: inline-block;
    margin: 0 10px;
    color: #000000;
    font-size: 24px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom a {
    color: #000000;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}


/* Estilos generales para el widget */
.sk-ww-google-reviews {
    max-width: 100%;
    /* Asegura que el widget no se desborde del contenedor */
    margin: 0 auto;
    /* Centra el widget horizontalmente */
}

/* Estilos para pantallas de tabletas (≤ 768px) */
@media (max-width: 768px) {
    .sk-ww-google-reviews {
        margin-top: 50px;
        /* Ajusta el margen superior para tabletas */
        /* Puedes añadir más ajustes si es necesario */
    }
}

/* Estilos para pantallas de móviles (≤ 480px) */
@media (max-width: 480px) {
    .sk-ww-google-reviews {
        margin-top: 30px;
        /* Ajusta el margen superior para móviles */
        /* Puedes añadir más ajustes si es necesario */
    }
}

@media (max-width: 767px) {
    .localizacao {
        flex-direction: column;
        align-items: center;
    }

    .ubicacion-container {
        text-align: center;
        margin-bottom: 10px;
        margin-left: 1px;
    }

    .locale1 img {
        padding-right: 0px;
    }

    .ubicacion-container p {
        font-size: 16px;
    }

    .ContainerHeader {
        background: url(imagens/43ae9040-e621-4b27-a778-6bf654f2b5fc.JPG) no-repeat center center;
        background-size: cover;
        background-attachment: scroll;
        /* Mudar para scroll para que o background nÃ£o fique fixo em telas pequenas */
        height: 400px;
        /* Ajustar altura para telas menores */
    }

    .reserva {
        background: url(imagens/vistaaomar.JPG) no-repeat center center;
        background-size: cover;
        background-attachment: scroll;
        /* Mudar para scroll para que o background nÃ£o fique fixo em telas pequenas */
        height: 400px;
        /* Ajustar altura para telas menores */
    }

    .bienvenido {
        flex-direction: column;
        text-align: center;
    }

    .bienvenidohijo p {
        padding-left: 0;
        /* Remover o padding esquerdo para melhorar a leitura em telas pequenas */
    }

    .bienvenidohijo h3 {
        padding-left: 0;
        /* Remover o padding esquerdo para melhorar a leitura em telas pequenas */
    }

    .buttons-reserva {
        margin-top: 40px;
    }

    .sk-ww-google-reviews {

        margin-top: 80px;
        /* Margem superior menor para tablets */
    }




}

@media (max-width: 767px) {
    .footer {

        margin-top: 70px;
        background-color: rgba(230, 230, 230, 0.8);
        /* Cor de fundo do footer */
        padding: 20px;
        /* Espaçamento interno */
        text-align: center;
        /* Centraliza o texto */
        font-size: 14px;
        /* Tamanho da fonte */
        color: #000000;
    }

    /* Conteúdo do footer */
    .footer-content {
        display: flex;
        flex-direction: column;
        /* Empilha os itens verticalmente */
        align-items: center;
        /* Alinha os itens ao centro */
    }

    .footer-info,
    .footer-hours,
    .footer-links {
        margin-bottom: 20px;
        color: rgb(42, 43, 43);
        /* Espaçamento entre seções */
    }

    .footer-info p,
    .footer-hours ul,
    .footer-links ul {
        margin: 0;
        padding: 0;
        color: rgb(42, 43, 43);
    }

    .footer-hours ul,
    .footer-links ul {
        list-style: none;
        /* Remove os marcadores da lista */
        padding: 0;
    }

    .footer-hours li,
    .footer-links li {
        color: rgb(42, 43, 43);
        margin-bottom: 10px;
        /* Espaçamento entre itens da lista */
    }

    .footer a {
        color: #000000;
    }

    .footer-hours a,
    .footer-links a {
        color: #000000;
        /* Cor dos links */
        text-decoration: none;
        /* Remove o sublinhado dos links */
    }

    .footer-hours a:hover,
    .footer-links a:hover {
        color: #2f9e8f;
        /* Cor dos links ao passar o mouse */
        text-decoration: underline;
        /* Sublinha o link ao passar o mouse */
    }

    /* Estilo para os ícones de redes sociais */
    .footer-social {
        margin-top: 20px;
        /* Espaçamento superior */
    }

    .footer-social h4 {
        margin-bottom: 10px;
        /* Espaçamento inferior */
    }

    .footer-social a {
        color: #000000;
        margin: 0 10px;
        /* Espaçamento entre os ícones */
        display: inline-block;
        /* Faz os ícones ficarem lado a lado */
    }

    .footer-social i {
        font-size: 24px;
        /* Tamanho dos ícones de redes sociais */
        color: #000000;
        /* Cor dos ícones, ajustada para branco */
    }

    /* Remove o efeito hover dos ícones */
    .footer-social a:hover i {
        color: #2cc6b4;
        /* Mantém a cor branca dos ícones ao passar o mouse */
    }

    /* Se você tiver uma classe para uma newsletter ou campo de assinatura */
    .newsletter {
        margin-top: 20px;
        /* Espaçamento superior */
    }


    .newsletter button {
        width: 100%;
        /* Faz o botão ocupar toda a largura disponível */
        padding: 10px;
        /* Espaçamento interno */
        background-color: #007bff;
        /* Cor de fundo do botão */
        color: #000000;
        /* Cor do texto do botão */
        border: none;
        /* Remove a borda padrão do botão */
        border-radius: 5px;
        /* Cantos arredondados */
        font-size: 16px;
        /* Tamanho da fonte do botão */
    }

    .newsletter button:hover {
        background-color: #0056b3;
        /* Cor de fundo do botão ao passar o mouse */
    }

    /* Ajusta o tamanho e o layout do footer no mobile */
    .footer-bottom {
        margin-top: 20px;
        /* Espaçamento superior */
    }

    .footer-bottom p {
        margin: 0;
        /* Remove a margem do texto */
    }
}